* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #130f40, #30336b);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/******************* navbar *******************/
nav {
  color: white;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  z-index: 999;
}

.logo {
  height: 60px;
  width: 160px;
  padding: 5px 0;
  cursor: pointer;
  padding-top: 15px;
}

nav ul {
  width: 100%;
  margin-top: 10px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 30px;
}

nav ul li a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: bold;
}

nav ul li a:hover {
  color: #b8e994;
  text-decoration: none;
}

/* .sub-menu{
  display: none;
}

#menu li:last-child:hover .sub-menu{
display: block;
} */

.sticky {
  background-color: #1e272e;
  transition: 2s;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
}

/******************* flights *******************/
.flight .container {
  height: 60vh;
  background: white;
  border-radius: 10px;
}

.flight .way {
  display: flex;
  text-transform: capitalize;
}

.flight .way .one-way {
  margin-left: 2%;
  margin-top: 1%;
  font-size: 1.5rem;
}

/* second part */
.column {
  width: 15%;
  margin-left: 1%;
}

/* third type */

.fare {
  display: flex;
  text-transform: capitalize;
}

.fare .fare-type {
  margin-left: 2%;
  margin-top: 1%;
}

/*********************************** index-2 ***********************************/

#navbar a {
  color: white;
}

#navbar a:hover {
  text-decoration: none;
}

/**** flight-2 ****/
.flight-2 .container {
  height: 26vh;
  background: white;
  border-radius: 10px;
}

.flight-2 .way {
  display: flex;
  text-transform: capitalize;
}

.flight-2 .way .one-way {
  margin-left: 2%;
  margin-top: 1%;
  font-size: 1.3rem;
}

/* notice */
.notice {
  position: relative;
  display: flex;
  background: #ffffff;
  background-color: white;
  width: 100%;
  height: 50px;
  overflow: hidden;
  font-size: 1.3rem;
}

#movingNotice {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 40px;
  transform: translateX(100%);
  animation: linear infinite;
  animation-name: textAnimation;
  animation-duration: 20s;
}

@keyframes textAnimation {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

/* filter */
.filter-result {
  display: inline-block;
  width: 100%;
}

/*********************************** login ***********************************/
.login_form {
  background-color: white;
  color: black;
  font-size: 1.3rem;
}

.sign_in_with {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/*********************************** about us ***********************************/
.aboutus-section {
  padding: 90px 0;
}

.aboutus-title {
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  margin: 0 0 39px;
  padding: 0 0 11px;
  position: relative;
  text-transform: uppercase;
  color: #000;
}

.aboutus-title::after {
  background: #fdb801 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 54px;
}

.aboutus-text {
  color: #606060;
  font-size: 13px;
  line-height: 22px;
  margin: 0 0 35px;
}

a:hover,
a:active {
  color: #ffb901;
  text-decoration: none;
  outline: 0;
}

.aboutus-more {
  border: 1px solid #fdb801;
  border-radius: 25px;
  color: #fdb801;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  padding: 7px 20px;
  text-transform: uppercase;
}

.feature .feature-box .iconset {
  background: #fff none repeat scroll 0 0;
  float: left;
  position: relative;
  width: 18%;
}

.feature .feature-box .iconset::after {
  background: #fdb801 none repeat scroll 0 0;
  content: "";
  height: 150%;
  left: 43%;
  position: absolute;
  top: 100%;
  width: 1px;
}

.feature .feature-box .feature-content h4 {
  color: #0f0f0f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  margin: 0 0 5px;
}


.feature .feature-box .feature-content {
  float: left;
  padding-left: 28px;
  width: 78%;
}

.feature .feature-box .feature-content h4 {
  color: #0f0f0f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  margin: 0 0 5px;
}

.feature .feature-box .feature-content p {
  color: #606060;
  font-size: 13px;
  line-height: 22px;
}

.icon {
  color: #f4b841;
  padding: 0px;
  font-size: 40px;
  border: 1px solid #fdb801;
  border-radius: 100px;
  color: #fdb801;
  font-size: 28px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  width: 70px;
}

/*********************************** about us ***********************************/

* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
}

/*********************** profile header ***********************/
.profile-header {
  display: flex;
  justify-content: center;
  padding: 4% 0%;
}

/* profile cart */
.profile_card {
  border: 2px solid #ffffff;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.profile_card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid blue;
}

.profile_card_img i {
  color: #079992;
}

.profile_card a:hover {
  text-decoration: none;
}

.profile_card_img {
  height: 80px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.profile_card_img i {
  border: 2px solid #ffffff;
  height: 100%;
  width: 100%;
  font-size: 3.5rem;
  object-fit: cover;
  text-align: center;
}

.profile_card_details {
  text-align: center;
  text-transform: capitalize;
  color: #0c0d0d;
  font-size: 1.6rem;
}

.profile_card_details:hover {
  color: #4b4b4b;
}

@media(max-width:768px) {
  .profile_card_img {
    height: 40px;
    width: 40px;
  }

  .profile_card_img i {
    border: 2px solid blue;
    font-size: 1.8rem;
  }

  .profile_card_details {
    text-align: center;
    text-transform: capitalize;
    color: #0c0d0d;
    font-size: 1.4rem;
  }
}

/******************* MOBILE DESIGN *******************/

@media(max-width:768px) {
  .header {
    height: 150vh;
  }

  .flight .container {
    height: 130vh;
  }

  .flight .way {
    display: inline-block;
  }

  .column {
    width: 99%;
    margin-left: 1%;
  }
}