* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #130f40, #30336b);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/******************* navbar *******************/
nav {
  color:white;
  background-color: #0097e6;
  width: 100%;
  padding: 5px 0;
  text-align: center;
}

.logo {
  height: 60px;
  width: 160px;
  padding: 5px 0;
  cursor: pointer;
  padding-top: 15px;
}

nav ul {
  width: 100%;
  margin-top: 10px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 30px;
}

nav ul li a {
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  font-weight: bold;
}

nav ul li a:hover {
  color: #b8e994;
  text-decoration: none;
}

.sticky {
  background-color: black;
  transition: 2s;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
}

/******************* flights *******************/
.flight .container {
  height: 60vh;
  background: white;
  border-radius: 10px;
}

.flight .way {
  display: flex;
  text-transform: capitalize;
}

.flight .way .one-way {
  margin-left: 2%;
  margin-top: 1%;
  font-size: 1.5rem;
}

/* second part */
.column {
  width: 15%;
  margin-left: 1%;
}

/* third type */

.fare {
  display: flex;
  text-transform: capitalize;
}

.fare .fare-type {
  margin-left: 2%;
  margin-top: 1%;
}

/*********************************** index-2 ***********************************/

#navbar a{
  color: white;
}
#navbar a:hover{
  text-decoration: none;
}
/**** flight-2 ****/
.flight-2 .container {
  height: 26vh;
  background: white;
  border-radius: 10px;
}

.flight-2 .way {
  display: flex;
  text-transform: capitalize;
}

.flight-2 .way .one-way {
  margin-left: 2%;
  margin-top: 1%;
  font-size: 1.3rem;
}

/* notice */
.notice {
  position: relative;
  display: flex;
  background: #ffffff;
  background-color: white;
  width: 100%;
  height: 50px;
  overflow: hidden;
  font-size: 1.3rem;
}

#movingNotice {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 40px;
  transform: translateX(100%);
  animation: linear infinite;
  animation-name: textAnimation;
  animation-duration: 20s;
}

@keyframes textAnimation {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

/* filter */
.filter-result {
  display: inline-block;
  width: 100%;
}


/******************* MOBILE DESIGN *******************/

@media(max-width:768px) {
  .header {
    height: 150vh;
  }

  .flight .container {
    height: 130vh;
  }

  .flight .way {
    display: inline-block;
  }

  .column {
    width: 99%;
    margin-left: 1%;
  }
}